<div class="jumbotron">
  <h1><i class="fa fa-plus"></i>God</h1>
  <p>This is my twitter clone Application</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn-primary btn-lg" %>

</div>
<p>My name is Darryl</p>